services:
  backend:
    build: ./backend
    volumes:
      - ./data:/data
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    depends_on:
      - backend
    ports:
      - "3000:3000"